
.film {
    display: flex;
    position: relative;
}
.film_tilte {
    position: absolute;
    top: 230px;
    left: 0;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, rgba(0, 0, 0, .39) 34%, #000 87%);
}
.film img {
    width: 190px;
    height: 275px;
}
h6 {
    color: #fff;
}
.film p {
    font-size: 13px;
    color: #999 !important;
}
.bg_black {
    background-color: #000000 !important;
}