.logo{
  width: 140px;
  height: 40px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.bgAll{
  background-color: #333333;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #080201;
}
.dropdown button:hover{
  color: red  !important;
}